@charset "utf-8";
/* CSS Document */
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container
{
	width: 1140px;
	height: 1000px;
	background-color: beige;
	margin: 0 auto;
}
.col-3
{
	width: 25%;
	padding: 0 15px;
}
.img-section
{
	display: flex;
	position: relative;
	margin-top: 50px;
}
.title
{
	background-color:rgba(0,0,0,0.5);
	color: white;
	padding-left: 20px;
	width: 255px;
	height: 50px;
	line-height: 50px;
	position:absolute;
	bottom: 0;
}
.bg
{
	background-color: rgba(0,0,0,0.5);
	width: 255px;
	height: 100%;
	position: absolute;
	top: 0px;
}
.item:hover .bg
{
	transform: rotate(36000deg) translateY(50px) scale(2) skewX(10deg);
	transition: all 2s linear;
}











