@charset "utf-8";
/* CSS Document */
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container
{
	width: 1140px;
	margin: 0 auto;
	height: 2000px;
	background-color: beige;
}
.col-3
{
	width: 25%;
	padding: 0 15px;
	float: left;
}
.item1 img
{
	-webkit-filter: grayscale(100%)
}
.item1:hover img
{
	-webkit-filter: grayscale(0);
	transition: all 1s linear;
}
.item2 img
{
	-webkit-filter: blur(3px)
}
.item2:hover img
{
	-webkit-filter: blur(0px);
	transition: all 1s linear;
}
.item3 img
{
	-webkit-filter: brightness(50%)
}
.item3:hover img
{
	-webkit-filter: brightness(100%);
	transition: all 1s linear;
}
.item4 img
{
	-webkit-filter: contrast(150%)
}
.item4:hover img
{
	-webkit-filter: contrast(100%);
	transition: all 1s linear;
}
.item5 img
{
	-webkit-filter: sepia(50%)
}
.item5:hover img
{
	-webkit-filter: sepia(0%);
	transition: all 1s linear;
}




















