@charset "utf-8";
/* CSS Document */
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.container
{
	width: 1140px;
	margin: 0px auto;
	height: 1000px;
	background-color: antiquewhite;
}
.item
{
	position: relative;
}
.item ul
{
	list-style: none;
}
.item ul li
{
	float: left;
}
.item-2
{
	position: absolute;
	top: 0px;
	left: 150px;
}
.item-3
{
	position: absolute;
	top: 0px;
	left: 300px;
}
.item:hover .item-2
{
	transform: translateX(155px);
	transition: all 0.5s linear;
}
.item:hover .item-3
{
	transform: translateX(310px);
	transition: all 0.5s linear;
}